/* Shared style */
.bg-primary {
  background-color: rgba(229, 84, 115, 0.1);
}
.text-description {
  color: rgba(39, 39, 39, 0.6);
  font-weight: 400;
  font-size: 1.16rem;
}
.text-title {
  color: #272727;
}
.btn-bg {
  background-color: #e55473;
  font-weight: 400;
  font-size: 1.25rem;
  padding: 1.25rem 2.5rem;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  margin-top: 2rem;
}
/* Header Section */
body {
  margin: 0px;
  max-width: 1440px;
  margin: auto;
}
.header-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 6.1rem;
}
.header-container,
.featured-section,
.feacture-after,
.deal-container,
.instagram-section,
.latest-deal {
  padding: 0px 15rem;
}
.header-title {
  font-weight: 800;
  font-size: 5rem;
}
.header-img {
  width: 100%;
}

/* Featured section */
.featured-head {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 11.125rem;
}
.featured-title {
  font-weight: 600;
  font-size: 2.5rem;
}
.featured-body {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.featured-image-container {
  height: 28.75rem;
  width: 18.5rem;
  border-radius: 10rem 10rem 0rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.featured-image {
  width: 100%;
}
.f-item1 {
  background-color: rgba(167, 33, 98, 0.15);
}
.f-item2 {
  background-color: rgba(5, 151, 160, 0.15);
}
.f-item3 {
  background-color: rgba(71, 125, 17, 0.15);
}

/* Feature after section */
.feacture-after,
.instagram-section {
  margin-top: 6.125rem;
}
.feature-after-container {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

/* Hot Deal Section */
.deal-container {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 6.125rem;
}

/* Instagram Section */
.instagram-details {
  text-align: center;
}
.instagram-description {
  width: 50%;
  margin: auto;
}
.instagram-images {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}
.insta-img {
  width: 100%;
}

/* Latest Deal section */
/* .latest-deal-picture {
  width: 80%;
} */
.latest-deal {
  margin-top: 3rem;
}
.latest-deal-img {
  width: 100%;
  /* height: 349px; */
}

.footer {
  background-color: #111010;
  text-align: center;
  padding: 4rem 1rem;
  margin-top: 4rem;
}
.footer-description {
  color: rgba(255, 255, 255, 0.9);
}
.footer-end {
  color: rgba(255, 255, 255, 0.4);
}
/* Media Query */
@media screen and (max-width: 576px) {
  .header-title {
    font-weight: 500;
    font-size: 2rem;
  }
  .header-container,
  .featured-section,
  .feacture-after,
  .deal-container {
    grid-template-columns: 1fr;
    padding: 0px 2rem;
    gap: 1rem;
  }
  .btn-bg {
    font-weight: 400;
    font-size: 1rem;
    padding: 1rem 2rem;
  }
  .header-picture {
    width: 50%;
    margin: auto;
  }
  .featured-body {
    flex-direction: column;
  }
  .featured-head {
    width: 100%;
  }
  .featured-image-container,
  .instagram-image {
    margin: auto;
  }
  .feature-after-container {
    flex-wrap: wrap;
  }
  .instagram-description {
    width: 100%;
    margin: auto;
  }
  .instagram-images {
    flex-wrap: wrap;
    margin: auto;
  }
  .instagram-section {
    padding: 0px 2rem;
    gap: 1rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .header-title {
    font-weight: 600;
    font-size: 2.5rem;
  }
  .header-container,
  .deal-container {
    grid-template-columns: 1fr;
    padding: 0px 5rem;
    gap: 2rem;
  }
  .btn-bg {
    font-weight: 400;
    font-size: 1rem;
    padding: 1rem 2rem;
  }
  .header-picture {
    width: 50%;
    margin: auto;
  }
  .featured-body {
    flex-direction: column;
  }
  .featured-head {
    width: 150%;
  }
  .featured-image-container,
  .instagram-image {
    margin: auto;
  }
  .instagram-description {
    width: 100%;
    margin: auto;
  }
  .instagram-images {
    flex-wrap: wrap;
    margin: auto;
  }
  .instagram-section {
    padding: 0px 5rem;
    gap: 2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header-title {
    font-weight: 600;
    font-size: 3rem;
  }
  .header-container,
  .featured-section {
    grid-template-columns: 1fr;
    padding: 0px 8rem;
    gap: 3rem;
  }
  .deal-container {
    padding: 0px 8rem;
    gap: 3rem;
  }
  .btn-bg {
    font-weight: 400;
    font-size: 1rem;
    padding: 1rem 2rem;
  }
  .header-picture {
    width: 50%;
    margin: auto;
  }
  .featured-image-container {
    height: 24.75rem;
    width: 14.5rem;
  }
  .featured-head {
    width: 100%;
  }
  .featured-image-container,
  .instagram-image {
    margin: auto;
  }
  .instagram-description {
    width: 100%;
    margin: auto;
  }
  .instagram-images {
    flex-wrap: wrap;
    margin: auto;
  }
  .instagram-section {
    padding: 0px 8rem;
    gap: 3rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .header-title {
    font-weight: 600;
    font-size: 3rem;
  }
  .featured-section,
  .header-container,
  .deal-container,
  .instagram-section {
    padding: 0px 8rem !important;
    gap: 3rem;
  }
  .btn-bg {
    font-weight: 400;
    font-size: 1rem;
    padding: 1rem 2rem;
  }
  .featured-head {
    width: 66%;
    margin: auto;
    text-align: center;
    margin-top: 8.125rem;
  }
  .instagram-description {
    width: 80%;
    margin: auto;
  }
}
